<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-10 px-5 mx-auto">

      <h2>会員情報編集</h2>

      <%= form_with model: @customer, method: :patch, url: customers_path, local:true do |f| %>

      <div class="form-horizontal">
        <div class="form-group">
          <div class="row align-items-center">
              <%= f.label "名前", class:"control-label col-md-4 col-lg-4" %>
            <div class="form-inline">
              <%= f.text_field :last_name, class:"form-control mr-md-3" %>
              <%= f.text_field :first_name, class:"form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row align-items-center">
            <%= f.label "フリガナ", class:"control-label col-md-4 col-lg-4" %>
            <div class="form-inline">
            <%= f.text_field :last_name_kana, class:"form-control mr-md-3" %>
            <%= f.text_field :first_name_kana, class:"form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row align-items-center">
            <%= f.label "郵便番号(ハイフンなし)", class:"col-form-label col-md-4 col-lg-4" %>
            <%= f.text_field :postal_code, class:"form-control col-md-8 col-lg-4" %>
          </div>
        </div>
        <div class="form-group">
          <div class="row align-items-center">
            <%= f.label "住所", class:"col-form-label col-md-4 col-lg-4" %>
            <%= f.text_field :address, class:"form-control col-md-8 col-lg-6" %>
          </div>
        </div>
        <div class="form-group">
          <div class="row align-items-center">
            <%= f.label "電話番号(ハイフンなし)", class:"col-form-label col-md-4 col-lg-4" %>
            <%= f.text_field :telephone_number, class:"form-control col-md-8 col-lg-4" %>
          </div>
        </div>
        <div class="form-group">
          <div class="row align-items-center">
            <%= f.label "メールアドレス", class:"col-form-label col-md-4 col-lg-4" %>
            <%= f.email_field :email, autocomplete: "email", class:"form-control col-md-8 col-lg-4" %>
          </div>
        </div>
        <div class="form-group text-center">
          <%= f.submit "編集内容を保存", class:"btn btn-success mr-3" %>
          <%= link_to "退会する", customers_cancel_path, class:"btn btn-danger" %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>