<div>
  <div>

    <h2>マイページ</h2>

    <div>

      <div>
        <strong>登録情報</strong>
        <%= link_to "編集する", edit_public_customer_path(@) %>
      </div>

      <div>
        <table>
          <tbody>
            <tr>
              <td>氏名</td>
              <td><%= X.full_name %></td>
            </tr>
            <tr>
              <td>カナ</td>
              <td><%= X.full_name_kana %></td>
            </tr>
            <tr>
              <td>郵便番号</td>
              <td><%= X.postal_code %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= X.address %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= X.phone_number %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= X.email %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <strong>配送先</strong>
        <%= link_to "一覧を見る", public_addresses_path(@) %>
      </div>
      <div>
        <strong>注文履歴</strong>
        <%= link_to "一覧を見る", public_orders_path(@) %>
      </div>

    </div>

  </div>
</div>