<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-10 px-5 mx-auto">

      <h2>マイページ</h2>

      <div>
        <p class="d-grid gap-2">
          <strong class="mr-2">登録情報</strong>
          <%= link_to "編集する", edit_customers_path(@customer), class:"btn btn-success" %>
        </p>

        <div class="row">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="col-4 table-active">氏名</td>
                <td><%= @customer.full_name %></td>
              </tr>
              <tr>
                <td class="col-4 table-active">カナ</td>
                <td><%= @customer.full_name_kana %></td>
              </tr>
              <tr>
                <td class="col-4 table-active">郵便番号</td>
                <td><%= @customer.postal_code %></td>
              </tr>
              <tr>
                <td class="col-4 table-active">住所</td>
                <td><%= @customer.address %></td>
              </tr>
              <tr>
                <td class="col-4 table-active">電話番号</td>
                <td><%= @customer.telephone_number %></td>
              </tr>
              <tr>
                <td class="col-4 table-active">メールアドレス</td>
                <td><%= @customer.email %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <p class="d-grid gap-2">
          <strong class="mr-2">配送先　</strong>
          <%= link_to "一覧を見る", addresses_path(@customer), class:"btn btn-primary" %>
        </p>
        <p class="d-grid gap-2">
          <strong class="mr-2">注文履歴</strong>
          <%= link_to "一覧を見る", orders_path(@customer), class:"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>
</div>