<div>
  
  <h2>商品新規登録</h2>
  
  <div>
    <%= form_with model: @new, local:true do |item| %>
      <%= f.label "商品画像" %>
      <%= f.file_field :image, accept: "image/*" %>
      <%= f.label "商品名" %>
      <%= f.text_field :name %>
      <%= f.label "商品説明" %>
      <%= f.text_area :introduction %>
      <%= f.label "ジャンル" %>
      <%= f. %>
      <%= f.label "税抜価格" %>
      <%= f.text_field :price %>
      <!--<%= f.label "販売ステータス" %>-->
      <!--<%= f.ladio_button %>-->
      <!--<%= f.label :is_active, "販売中" %>-->
      <!--<%= f.ladio_button %>-->
      <!--<%= f.label :is_active, "販売停止中" %>-->
      <%= f.submit "新規登録" %>
    <% end %>
  </div>
  
</div>
