<div>
  <div>

    <div>
      <%= image_tag @item.get_image %>
      <p>
        <strong>
          <%= @item.name %>
        </strong>
      </p>
      <span>
        <%= @item.introduction %>
      </span>
      <p>
        <strong>
        <%= number_to_currency( @item.with_tax_price, precision: 0, unit: "￥") %>
        </strong>
        (税込)
      </p>
      <div>
        <%= form_with model: @cart_item, url: cart_items_create_path, local:true do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :amount, *[1..5], include_blank: "個数選択" %>
        <%= f.submit "カートに入れる" %>
        <% end %>
      </div>
    </div>

  </div>
</div>