<div>
  <div>

    <div>
      <%= image_tag @item.get_image %>
      <strong>
        <%= @item.name %>
      </strong>
      <%= @item.introduction %>
      <p>
        <strong>
        <%= number_to_currency( @item.with_tax_price, precision: 0, unit: "￥") %>
        </strong>
        (税込)
      </p>
      <div>
        <%= form_with model: @item, url: cart_items_create_path, local:true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.select :amount, *[1..5] %>
        <%= f.submit "カートに入れる" %>
        <% end %>
      </div>
    </div>

  </div>
</div>